* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
/* navbar */
.navbar {
  max-width: 1660px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #101522;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar .nav-links {
  display: flex;
  margin: 0 50px 0 0;
  padding: 0;
}
.navbar .nav-links li {
  margin-left: 16px;
  list-style: none;
}
.navbar .nav-links li a {
  text-decoration: none;
  color: #00bcd4;
  font-size: 16px;
  transition: color 0.3s ease;
}
.navbar .nav-links li a:hover {
  color: white;
  font-weight: bold;
}
.navbar .nav-logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

/* /////////////////////////////////////////////// */
/* header */
header {
  max-width: 1660px;
  height: min-content;
  background: #101522;
  margin: 0px;
  padding: 64px 20px 300px 64px;
  display: flex;
  position: relative;
}

.hero-text p {
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin: 0px;
  width: 600px;
  line-height: 2;
}

.hero-text h2 {
  color: white;
  font-size: 20px;
  margin: 0px;
}
.hero-text h1 {
  color: #00bcd4;
  font-size: 36px;
}
/* //////////////////////////////////////////// */

/* aboutMe  Popup overlay */
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(92, 91, 91, 0.756);
  z-index: 9999;
}

/* Popup content box */
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  color: white;
  padding: 16px;
  width: 80%;
  max-width: 500px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.popup-content p {
  color: white;
  font-weight: 600;
}

/* Container for skills */
#skills ul {
  list-style: none;
  padding: 0;
  margin: 15px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Each skill badge */
#skills ul li {
  color: white;
  padding: 6px 14px;
  font-size: 16px;
  border: 1px solid gray;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  user-select: none;
}

/* Hover effect */
#skills ul li:hover {
  box-shadow: 0 2px 8px rgb(142, 145, 142);
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}
/* /////////////////////////////////////////////////////////////// */
/* buttons style */

.hero-btn {
  margin-top: 20px;
  margin-left: 200px;
}
.download-btn,
.about-btn {
  background: linear-gradient(110deg, #00bcd4, #c4d8da);
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  margin-right: 20px;
}
.download-btn:hover,
.about-btn:hover {
  background: linear-gradient(120deg, #c4d8da, #00bcd4 100%);
  transition: all 0.3s ease-in-out;
}
.download-btn a,
.about-btn a {
  text-decoration: none;
  color: #101522;
  font-weight: bold;
}

/* hero image */
.hero-image {
  width: 500px;
  height: 500px;
  position: absolute;
  right: 0px;
  top: 100px;
}

/* ////////////////////////////////////////////// */
/* social media icon styles */
.social-links {
  position: absolute;
  left: 0px;
  top: 500px;
}
.social-links ul {
  display: flex;
  list-style: none;
}
.social-links ul li {
  margin: 0 16px;
}

.fa-linkedin-in,
.fa-envelope,
.fa-github,
.fa-instagram {
  font-size: 50px;
  color: #00bcd4;
  transition: transform 0.3s ease;
}

.fa-linkedin-in:hover,
.fa-envelope:hover,
.fa-github:hover,
.fa-instagram:hover {
  transform: scale(1.2);
}

/*////////////////////////////////////////////////*/

/* slider styles */
.testimonial-section {
  max-width: 1660px;
  height: max-content;
  background-color: #101522;
}

.testimonial-section .testimonial-title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  background-color: #101522;
  border: 2px solid#00bcd4;
  margin: 0 auto;
  font-size: 2em;
  margin-bottom: 1.5em;
  padding: 0.35em 0.65em;
  border-radius: 8px;
  color: #00bcd4;
  z-index: 5;
}
@media (max-width: 650px) {
  .testimonial-section .testimonial-title {
    background-color: #101522;
    border: none;
    font-size: 1em;
    padding: 0;
    margin-bottom: 0.8em;
  }
}
@media (max-width: 350px) {
  .testimonial-section .testimonial-title {
    font-size: 1.25em;
    border: none;
    padding: 0;
    margin-bottom: 0.8em;
  }
}
.testimonial-section .swiper {
  max-width: 1000px;
  margin: 0px auto;
}
.testimonial-section .swiper .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.testimonial-section .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1em 0 2em;
}
.testimonial-section .swiper .swiper-slide .swiper-card {
  background-color: var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 0px 10px #00bcd4;
  box-shadow: 0 0px 10px #00bcd4;
  padding: 2em;
  border-radius: 10px;
  max-width: 800px;
  z-index: 6;
  width: 80%;
  position: relative;
  background-color: #101522;
}
.testimonial-section .swiper .swiper-slide .swiper-card .testimonial-image {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.testimonial-section .swiper .swiper-slide .swiper-card .testimonial-image img {
  display: block;
  width: 85%;

  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 0 0 10px #00bcd4;
  box-shadow: 0 0 10px #00bcd4;
  -webkit-transition: -webkit-box-shadow 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  transition: -webkit-box-shadow 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out,
    -webkit-box-shadow 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.testimonial-section
  .swiper
  .swiper-slide
  .swiper-card
  .testimonial-image
  img:hover {
  -webkit-box-shadow: 0 0 15px #00bcd4;
  box-shadow: 0 0 15px #00bcd4;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.testimonial-section .swiper .swiper-slide .swiper-card .testimonial-text {
  text-align: left;
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  padding-top: 2.5em;
}
.testimonial-section .swiper .swiper-slide .swiper-card .testimonial-text h2,
.testimonial-section .swiper .swiper-slide .swiper-card .testimonial-text h5 {
  text-align: right;
  color: #00bcd4;
  margin: 0;
}

/* testimonial paragraph color theme */

.testimonial-section p {
  color: #00bcd4;
}
.testimonial-section .swiper .swiper-slide .swiper-card .testimonial-text h5 {
  margin-top: 0.2em;
}
@media (max-width: 750px) {
  .testimonial-section .swiper .swiper-slide .swiper-card {
    width: 90%;
    font-size: 0.9em;
  }
}
@media (max-width: 650px) {
  .testimonial-section .swiper .swiper-slide .swiper-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1.5em;
  }
  .testimonial-section .swiper .swiper-slide .swiper-card .testimonial-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .testimonial-section
    .swiper
    .swiper-slide
    .swiper-card
    .testimonial-image
    img {
    max-width: 200px;
  }
  .testimonial-section .swiper .swiper-slide .swiper-card .testimonial-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-top: 1em;
  }
  .testimonial-section .swiper .swiper-slide .swiper-card .testimonial-text h2,
  .testimonial-section .swiper .swiper-slide .swiper-card .testimonial-text h5 {
    text-align: center;
  }
  .testimonial-section .swiper .swiper-slide .swiper-card .testimonial-text p {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    text-align: justify;
  }
}
.testimonial-section .swiper .swiper-button-next,
.testimonial-section .swiper .swiper-button-prev {
  color: #00bcd4;
}
.testimonial-section .swiper .swiper-pagination-bullet {
  background-color: #00bcd4;
}
@media (max-width: 750px) {
  .testimonial-section .swiper .swiper-button-next,
  .testimonial-section .swiper .swiper-button-prev {
    display: none;
  }
}

/*////////////////////////////////////////////////*/

/* footer */

footer {
  max-width: 1660px;
  min-height: max-content;
  background-color: #101522;
}

footer h2 {
  text-align: center;
  color: #00bcd4;
  font-size: 2rem;
  margin: 0;
}
/* footer contact*/
.footer-icon {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 16px;
}
.footer-icon i {
  margin-left: 32px;
  color: #00bcd4;
}
/* footer-links */
.footer-links a {
  font-size: 20px;
  color: #00bcd4;
  text-decoration: none;
  margin-left: 24px;
}
.footer-links {
  margin-block: 64px;
}

footer .footer-links ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

footer hr {
  width: 100%;
  border: 1px solid #00bcd4;
}
/* footer text */
.footer-text {
  display: flex;
  justify-content: center;
  color: #00bcd4;
  font-weight: 300;
  font-size: 12px;
  justify-content: space-evenly;
}

@media (max-width: 1150px) {
  .hero-image {
    width: 400px;
    height: 500px;
  }

  .hero-text p {
    width: 500px;
  }
  .hero-btn {
    margin-top: 10px;
    margin-left: 180px;
  }

  .social-links {
    position: absolute;
    left: 0px;
    top: 530px;
  }
}

@media (max-width: 950px) {
  header {
    padding: 64px 20px 300px 32px;
  }

  .hero-image {
    width: 350px;
    height: 400px;
  }

  .hero-text p {
    width: 350px;
  }

  .hero-text h1 {
    color: #00bcd4;
    font-size: 32px;
  }

  .hero-btn {
    margin-top: 30px;
    margin-left: 130px;
  }

  .social-links {
    top: 560px;
  }

  .fa-linkedin-in,
  .fa-envelope,
  .fa-github,
  .fa-instagram {
    font-size: 36px;
  }
}

@media (max-width: 785px) {
  .hero-image {
    width: 300px;
    height: 350px;
  }

  .hero-text p {
    font-weight: 400;
    font-size: 12px;
    width: 300px;
  }

  .hero-text h2 {
    font-size: 16px;
  }
  .hero-text h1 {
    color: #00bcd4;
    font-size: 28px;
  }

  .hero-btn {
    margin-top: 50px;
    margin-left: 40px;
  }
  .social-links {
    left: 0px;
    top: 500px;
  }

  .fa-linkedin-in,
  .fa-envelope,
  .fa-github,
  .fa-instagram {
    font-size: 32px;
  }
}

@media (max-width: 725px) {
  header {
    padding: 80px 0px 250px 20px;
  }
  .hero-image {
    width: 240px;
    height: 300px;
    top: 130px;
  }

  .hero-text p {
    font-weight: 350;
    font-size: 10px;
    width: 350px;
  }

  .hero-text h2 {
    font-size: 14px;
  }
  .hero-text h1 {
    color: #00bcd4;
    font-size: 24px;
  }

  .hero-btn {
    margin-top: 50px;
    margin-left: 40px;
  }

  .download-btn {
    display: block;
    margin-bottom: 20px;
  }

  .social-links {
    top: 500px;
  }
}

@media (max-width: 650px) {
  header {
    padding: 100px 0px 250px 20px;
  }

  .hero-image {
    width: 200px;
    height: 250px;
  }

  .hero-text p {
    font-weight: 350;
    font-size: 10px;
    width: 300px;
  }

  .hero-text h2 {
    font-size: 12px;
  }
  .hero-text h1 {
    color: #00bcd4;
    font-size: 20px;
  }
  .social-links {
    left: 0px;
    top: 550px;
  }
}

@media (max-width: 525px) {
  .navbar {
    padding: 16px 16px;
  }

  .navbar .nav-links {
    margin: 0 24px 0 0;
  }

  .navbar .nav-links li {
    margin-left: 10px;
  }

  .hero-image {
    width: 130px;
    height: 250px;
  }

  .hero-text p {
    font-weight: 350;
    font-size: 10px;
    width: 250px;
  }

  .hero-text h2 {
    font-size: 12px;
  }
  .hero-text h1 {
    color: #00bcd4;
    font-size: 18px;
  }
  .social-links {
    top: 550px;
  }
  .footer-links a {
    font-size: 12px;
    color: #00bcd4;
    text-decoration: none;
    margin-left: 10px;
  }

  .footer-links {
    margin-block: 32px;
  }

  .footer-text {
    font-size: 8px;
  }
}

@media (max-width: 380px) {
  .navbar .nav-links {
    margin: 0 0px 0 0;
  }

  .navbar .nav-links li a {
    margin-left: 10px;
    font-size: 12px;
  }

  .hero-image {
    width: 130px;
    height: 200px;
  }

  .hero-text p {
    font-weight: 300;
    font-size: 8px;
    width: 200px;
  }

  .hero-text h2 {
    font-size: 12px;
  }
  .hero-text h1 {
    color: #00bcd4;
    font-size: 16px;
  }
  .social-links {
    top: 530px;
  }
}
@media (max-width: 350px) {
  .hero-image {
    display: none;
  }

  .navbar .nav-links li a {
    margin-left: 0px;
    font-size: 6px;
  }

  .fa-linkedin-in,
  .fa-envelope,
  .fa-github,
  .fa-instagram {
    font-size: 16px;
  }

  .footer-links a {
    font-size: 8px;
    color: #00bcd4;
    text-decoration: none;
    margin-left: 4px;
  }

  .footer-links {
    margin-block: 16px;
  }

  .footer-text {
    font-size: 4px;
  }
}

/* //////////////////////////////////////////////////////////////////////// */
/* Projects Section */

.projects-section {
  max-width: 1660px;
  margin: 0px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

#projects-section-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 2rem;
  color: #333;
  max-width: 1660px;
}

.project-wrapper {
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
}

/* Project Card */
.project-card {
  max-width: 400px;
  background: #111625;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 10);
  transition: 0.3s ease;
  margin-bottom: 64px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  height: auto;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-image {
  width: 300px;
  height: 250px;
  object-fit: cover;
  margin: 10px;
}
.project-image img {
  width: 100%;
  height: 100%;
  display: block;
}

.project-content {
  padding: 16px;
}

.project-title {
  font-size: 32px;
  margin-bottom: 16px;
  color: white;
}

.project-links {
  margin-bottom: 16px;
}

.project-links a {
  margin-right: 16px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.toggle-details-btn {
  background: linear-gradient(110deg, #00bcd4, #c4d8da);
  color: #000000;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 8px 12px;
  font-size: 12px;
}

.toggle-details-btn:hover {
  background: linear-gradient(120deg, #c4d8da, #00bcd4);
}

.project-details {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden; /* add this */
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.project-details.show {
  max-height: 500px;
  opacity: 1;
  visibility: visible;
  margin-top: 16px;
}

.project-description {
  margin-bottom: 16px;
  color: wheat;
  line-height: 1.6;
}

.skills-used {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.skills-used span {
  background-color: wheat;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
}

@media (max-width: 800px) {
  .project-card {
    flex: 1 1 100%;
    max-width: 400px;
  }
}

@media (max-width: 400px) {
  .project-card {
    flex: 1 1 100%;
    max-width: 300px;
  }

  #projects-section-title {
    font-size: 32px;
  }

  .project-image {
    width: 240px;
    height: 250px;
    object-fit: cover;
    margin: 10px;
  }
  .project-title {
    font-size: 24px;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////// */

/* Contact Section */

.container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101522;
  max-width: 1660px;
  height: min-content;
  padding-block:100px ;
}

.card {
  width: 100%;
  max-width: 300px;

  background: rgba(255, 255, 255, 0.1); /* transparent white */
  border-radius: 20px;
  backdrop-filter: blur(10px); /* frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* for Safari */
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.05);
  padding: 20px;
  color: white;
  transition: all 0.3s ease;
}

.icon {
  display: flex;
  justify-content: space-between;
}

.heart-icon {
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.heart-icon.liked {
  color: red;
}

.profil {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pic {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
}
.pic img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.green-dot {
  height: 14px;
  width: 14px;
  background-color: green;
  border-radius: 100px;
  position: absolute;
  top: 80px;
  left: 155px;
}

.content {
  border-radius: 16px;
  text-align: center;
  border: 1px solid slategrey;
  margin-top: 12px;
}

.content h1 {
  font-size: 24px;
  padding: 40px 0px 0px 0px;
  color: #00bcd4;
}
.content h3 {
  font-size: 20px;
  padding: 0px 0px 20px 0px;
  color: gray;
  font-weight: 100;
}

.content button {
  background: linear-gradient(110deg, #00bcd4, #c4d8da);
  color: black;
  border: none;
  border-radius: 16px;
  margin-bottom: 15px;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.07) k;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 90%;
  max-width: 500px;
  color: #fff;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
  color: #00bcd4;
  margin-bottom: 20px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.modal-content .skills span {
  padding: 4px 8px;
  background-color: #00bcd4;
  border-radius: 12px;
  color: #101522;
  font-weight: bold;
}

.close {
  color: #ccc;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover {
  color: red;
}
